aside {
  width: 20%;
  height: 100vh;
  background-color: #181618;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  float: left;
  position: relative;
}

.logo {
  width: 150px;
  padding-bottom: 30px;
}

h2 {
  font-size: 16px;
  padding: 5px;
  padding-left: 0px;
}
cite
{
  position: absolute;
  bottom: 30px;
  border-radius: 2px;
  background-color: rgb(15, 15, 15);
  padding: 3px;
  color: #4d4d4d;
  
}

main {
  width: 80%;
  min-height: 100vh;
  background-color: #303030;
  color: white;
  font-family: sans-serif;
  float: left;
}
h1 {
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 50px;
}
.products_container {
  width: 90%;
  padding-left: 40px;
}
.product {
  width: 150px;
  margin: 10px;
}
.cart_container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 0px;

}
.sidebar
{
  height: 100%;
  position: relative;
  padding: 30px;
  padding-top: 60px;
  color: grey;
}
hr
{
  border-color: rgb(65, 65, 65);
}
.product_count
{
  padding: 5px;
  padding-right: 10px;
  border-right: 1px solid  rgb(65, 65, 65);
}
li
{
  padding: 5px;
  padding-left: 0px;
}
.selected
{
  color: rgb(74, 145, 192);
}
.price
{
  display: flex;
  align-items: center;
}
.product_price
{
  padding-left: 10px;
}